.NavBar{
    .logoImg{
        width: 180px;
        height: 40px;
    }
    .searchInput{
        background-color: rgb(234, 230, 230);
        &:focus{
            outline:none;
        }
    }
    .bi-sliders{
        margin-left: -40px;
    }
    p{
        font-size: 12px !important;
    }
}

